{% extends "base.html" %}

{% block content %}
<h3>{{ movie.title }}</h3>
  <p><b>Average Rating:  </b>{{ movie.average_rating }}</p>

  {% if user.is_authenticated %}

  <form method="POST" action="{% url 'rater_rate' movie.pk %}">
    {% csrf_token %}
    Rate This Movie: <input type="text" name="stars" />
    <!-- {{ form.as_p }} -->
    <input type='submit' value='Submit Rating'>
    <!-- <input type="hidden" name = "movie" value="{{ movie.pk }}" />
    <input type="hidden" name = "rater" value="{{ user.pk }}" /> -->
    <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
  </form>
  {% endif %}


<h4>Ratings:</h4>
<ul>
  {% for rating in movie.rating_set.all %}
    <li><a href="{% url 'rater_detail' rating.rater.pk %}"> Rater #{{ rating.rater }}</a>: {{rating.stars}} stars</li>
    {% endfor %}
</ul>
{% endblock %}
