{% extends "base.html" %}
{% load staticfiles %}
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
{% block content %}
<h3>{{ movie.title }}</h3>
  <p><b>Average Rating:  </b>{{ movie.average_rating }}</p>

  {% if user.is_authenticated %}

  <form method="POST" id='rate' action="{% url 'rater_rate' movie.pk %}">
    {% csrf_token %}
    <p>Rate This Movie: <input type="text" name="stars" /></p>
    <!-- {{ form.as_p }} -->
    </br>
      {% for this_rating in user.rater.rating_set.all %}
        {% if this_rating in movie.rating_set.all %}
        {# TODO re-write with Many-to-Many #}
        <p>You previously rated this a <strong>{{ this_rating.stars }}</strong></p>
        <p>Would you like to write a review?</p>
        <textarea form="rate" name="review" maxlength=200 cols=50 rows=5>
        </textarea>
      {% endif %}
    {% endfor %}
    </br>
    <input type='submit' value='Submit'>
    <!-- <input type="hidden" name = "movie" value="{{ movie.pk }}" />
    <input type="hidden" name = "rater" value="{{ user.pk }}" /> -->
    <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
  </form>
  {% endif %}


<h4>Ratings:</h4>
<ul>
  {% for rating in movie.rating_set.all %}
    <li><a href="{% url 'rater_detail' rating.rater.pk %}"> Rater #{{ rating.rater }}</a>: {{rating.stars}} stars</li>
    {% endfor %}
</ul>
{% endblock %}
